#toc-panel {
    display: flex;
    flex-direction: column;
}

#toc-panel .toc-list {
    list-style-type:none;;
}

#toc-panel hr {
    margin-left: 0;
    margin-right: 0;
}

#toc-panel ul {
    padding-inline-start: 15px;
}

#toc-panel > ul {
    padding-inline-start: 5px;
}

/* hide the content when group collapsible is not active */
#toc-panel .toc-list.group-content {
    max-height: 0;
    overflow: hidden;
}

#toc-panel .toc-list > li {
    margin-top: 10px;
}

#toc-panel .toc-list li .group {
    font-size: 5vmin;
}

#toc-panel .toc-list li .group::before {
    content: '\002B';
}

#toc-panel .toc-list li .expanded::before {
    content: '\2212';
}

/* remove checkbox default style and use the label to display an icon instead */
/* https://stackoverflow.com/a/3772914/1979665 */
#toc-panel .toc-list li .group input[type="checkbox"] {
    display: none;
}

#toc-panel .toc-list li .group input[type="checkbox"] + label {
    float: right;
    padding-right: 20px;
    background-image: url('./eye_not_visible.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vmin;
    width: 5vmin;
}

#toc-panel .toc-list li .group input[type="checkbox"]:checked + label {
    background-image: url('./eye_visible.svg');
}