#toc {
    background-image: url('./toc.svg');
}

#toc-panel .toc-list {
    list-style-type:none;
    padding-top:0;
}

/* hide the content when group collapsible is not active */
#toc-panel .toc-list.group-content {
    max-height: 0;
    overflow: hidden;
    /*transition: max-height 0.2s ease-out;*/
}

#toc-panel .toc-list li .group {
    font-size: 5vmin;
    padding: 5px;
}

#toc-panel .toc-list li .group::before {
    content: '\002B';
}

#toc-panel .toc-list li .expanded::before {
    content: '\2212';
}

/* remove checkbox default style and use the label to display an icon instead */
/* https://stackoverflow.com/a/3772914/1979665 */
#toc-panel .toc-list li .group input[type="checkbox"] {
    display: none;
}

#toc-panel .toc-list li .group input[type="checkbox"] + label {
    display:inline-block;
    background-image: url('./eye_not_visible.svg');
    background-size: contain;
    background-repeat: no-repeat;
    height: 5vmin;
    width: 5vmin;
    vertical-align: middle;
}

#toc-panel .toc-list li .group input[type="checkbox"]:checked + label {
    background-image: url('./eye_visible.svg');
}