/* generic widget button */
.wondermap-widget {
    height: 38px; 
    width: 38px;
    background-size: contain;
    border: inset 10px transparent;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
}

.wondermap-widget:hover {
    background-color: rgb(211, 211, 211);
}

.wondermap-panel {
    height: 0;
    width: 100%;
    position: fixed;
    bottom: 38px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: white;
}

.wondermap-panel.active {
    height: calc(100% - 38px);
}