/* generic widget button */
.wondermap-widget {
    position: absolute;
    text-align: center;
    background-color: transparent;
}

.wondermap-widget button {
    float: right;
    height: 38px; 
    width: 38px;
    background-position: center;
    border-radius: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.wondermap-widget .wondermap-panel {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: white;
}